streamlit
pandas
numpy
scikit-learn
python-dotenv
plotly-express
plotly
kagglehub
pyngrok
google-generativeai
opencv-python
pillow
tensorflow
py-cpuinfo
tensorflow-cpu==2.10.0 
intel-tensorflow==2.10.0 